// bg
$main-background: black;
$main-sec-background: gray;

// text
$main-color: black;
$main-sec-color: white;

// text hover
$main-hover-color: gray;

// text color
$main-font-family: "Sulphur Point", "arial", sans-serif;
$main-font-size: 20px;

// box style
$main-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
$main-border-radius: 1em;

// spacing
$main-padding: 20px;
